@model Tuple<List<Employee>,List<Product>,Product,Category>


@{
    ViewBag.Title = "ListData";
}


<ul>

    @foreach (Category item in Model.Item1)
    {
        <li>@item.CategoryName @item.CategoryID</li>
    }
</ul>


